@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id="map" class="vh100"></div>
<script>
    var map = new google.maps.Map(document.getElementById("map"), {
                center: {
                            lat: 39.66397054025678,
                            lng: -101.70125834109443
                },
                zoom: 3
              })
</script>