@page
@model MyApp.Namespace.AboutModel
@{
    ViewData["Title"] = "About";
    string name = "ronald";
}


    <button type="button" class="btn btn-primary" onClick="Btn_click()">Primary</button>
<script>
    function Btn_click() {
        var name = '@name'
            console.log('click')
            console.log(name)
    }
</script>
