@page 
@model AboutModel
@{
    ViewData["Title"] = "About";
    
}

    <div class="col-md-12">
        <p>@Model.status</p>
        <button type="button" class="btn btn-primary" onClick="Btn_click()">Primary</button>
    </div> 
    

    
<script>
    function Btn_click() {
        var name = '@Model.status'
            console.log('click')
            console.log(name)
    }
</script>
