@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
    var _name = Model.name;
    var ct = 0;

    //var _conn = Model.connString;




}
<div class="col-md-4">
    <partial name="_Sidebar" />
</div>
<div class="col-md-8">
    <div class="">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

        <p>@_name</p>

        <table class="table">

            @foreach (var items in Model.values)
            {
                <tr>
                    @if (ct++ == 0)
                    {
                        @foreach (var item in items)
                        {
                            <th>@item.Key</th>
                        }
                    }



                </tr>
                <tr>
                    @foreach (var item in items)
                    {
                        <td>@item.Value</td>
                    }

                </tr>
            }
        </table>

    </div>
</div>

